#map{
    width: 1200px;
    height: 1000px;
    float: right;
}
.menu{
    width: 130px;
    float: left;
}
.signin-btn{
	padding: 0;}
#logo-area{
	width: 800px;
	height: 500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	border-radius: 5px;
  	box-shadow: 0 3px 5px #ccc;
  	background-color: white;
  	padding-top: 50px;
}
.logo {
	margin-bottom: 50px;
}