<!DOCTYPE html>
<html>

<head>
    <title>Floor Map Example - Leaflet</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body>
    <div id="map">
        <script src="/js/seat.js" th:src="@{/js/seat.js}"></script>
    </div>

    <div class="menu">
        <form name="form" action="">
            <label>Column:</label>
            <input type="text" id="column" />
            <label>Line:</label>
            <input type="text" id="line" />
            <label>Start Line:</label>
            <input type="text" id="start_line" />
            <button onclick="onButtonClick();return false;">Create!</button>
        </form>
    </div>
</body>

</html>