<!DOCTYPE html>
<html>

<head>
    <title>Floor Map Example - Leaflet</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
    <script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link href="css/leaflet.css" rel="stylesheet" />
    <link href="css/fullcalendar.css" rel="stylesheet" />
    <link href="css/fullcalendar.print.css" rel="stylesheet" />
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/moment.min.js"></script>
	<script src="../js/fullcalendar.js"></script>
	<script src="../js/gcal.js"></script>
</head>

<body style="background-color: #eeeeee;">
  <div id="logo-area">
    <img class="logo" src="img/logo.png" />
    <a class="signin-btn" href="/home" type="button">
      <img src="img/google_signin.png" />
    </a>
  </div>
</body>

</html>