<!DOCTYPE html>
<html>

<head>
    <title>Floor Map Example - Leaflet</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>
    <script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div th:include="topbar"></div>
    <div id="map">
        <script src="/js/seat.js" th:src="@{/js/seat.js}"></script>
    </div>

    <div class="menu">
        <!-- <form name="form" action=""> -->
        <label>Column:</label>
        <input type="text" id="column" />
        <label>Line:</label>
        <input type="text" id="line" />
        <label>Start Column:</label>
        <input type="text" id="start_column" />
        <label>Start Line:</label>
        <input type="text" id="start_line" />
        <button onclick="return onCreateButtonClick();">Create!</button>
        <!-- <button onclick="onSaveButtonClick();return false;">Save!</button> -->
        <!-- </form> -->
        <form action="/home/import" method="POST" enctype="multipart/form-data" id="import_form">
            <label style="padding-top: 30px; padding-bottom: 10px;">Import</label>
            <input type="file" id="csv_import" name="csv" style="padding-bottom: 10px;" accept=".csv" />
            <button class="btn btn-primary" type="submit" id="import_btn" disabled>インポート</button>
        </form>
    </div>
    <script type="text/javascript">
    window.addEventListener("load", function () {
        $("#csv_import").on("change", function(){
            if($(this).val() != ''){
                $("#import_btn").attr("disabled", false);
            } else {
                $("#import_btn").attr("disabled", true);
            }
        });
    });
    </script>
</body>

</html>