<nav class="navbar navbar-default" th:fragment="topbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<span class="navbar-brand" href="/home">UNIRITA SEAT MAP</span>
		</div>
		<div class="collapse navbar-collapse" id="navbarEexample">
            <p class="navbar-text" th:if="${user.admin}"><a href="/home" class="navbar-link">管理画面</a></p>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" style="top: 8px;">
					<button class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" ><span th:text="${user.id}+ ' '"></span><span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
						<li id="logout"><a href="#">ログアウト</a></li>
					</ul>
				</li>
			</ul>
		</div>
        <script type="text/javascript">
        	$("#logout").on("click",function(){
        		$.post("/logout");
        		location.href="/";
        	});
        </script>
	</div>
</nav>